<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>سامکلس - سیستم آموزش مجازی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  @*  <link rel="shortcut icon" href="https://responsiveexpert.com/img/loader.gif">*@

    <!-- Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @* <link type="text/css" rel="stylesheet" href="https://responsiveexpert.com/themes/markroz/html/css/bootstrap.css"><!-- Bootstrap -->*@

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://responsiveexpert.com/themes/markroz/html/css/animate.min.css"><!-- Animation -->
    <link type="text/css" rel="stylesheet" href="https://responsiveexpert.com/themes/markroz/html/css/flexslider.css"><!-- FlexSlider CSS -->
   
    <link href="~/Content/HomeIndexStyle.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Google Fonts here -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100italic,300,100,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Preloader Area Start
    ====================================================== -->
    <div id="mask">
        <div id="loader">
        </div>
    </div>
    <!-- =================================================
    Preloader Area End -->
    <!-- Header Area Start
    ====================================================== -->
    <header class="header-area">
        <div class="container">

            <!-- Start: Top Logo Area -->
            <div class="col-md-4 left-side">
                <div class="logo"><a href="index.html"> <img src="https://responsiveexpert.com/themes/markroz/html/img/top-logo.png" alt=""></a></div>
            </div>
            <div class="mob-icon"><i class="fa fa-bars"></i></div>
            <!-- End: Top Logo Area -->
            <!-- Start:Main Navigation -->
            <div class="col-md-8 right-side" style="direction:rtl">
                <div class="menu-bar">
                    <nav>
                        <ul class="menu">
                            <li><a href="#home">خانه</a></li>
                            <li><a href="#about">درباره ما</a></li>
                            <li><a href="#services">ویژگی ها</a></li>
                            @*<li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#our-team">Team</a></li>
        <li><a href="#blog">Blog</a></li>*@
                            <li><a href="#contact-us">تماس با ما</a></li>
                            <li><a href="/CustomLogin/index">ورود - ثبت نام</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End:Main Navigation -->
        </div>
    </header>
    <!-- =================================================
    Header Area End -->
    <!-- Banner Area
    ====================================================== -->
    <section class="banner-sec" id="home">
        <div class="main-banner" style=" background:url(https://responsiveexpert.com/themes/markroz/html/img/banner-bg.jpg) no-repeat top center fixed; background-size:cover;">
            <a href="#" name="scroll-top-div"></a>
            <div class="overlay-mask">
                <!-- Start:Slider area -->
                <div class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <!-- Start: Banner Slide 01 -->
                            <li>
                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/banner-1.png">
                                <div class="caption">
                                    <div class="container">
                                        <h3>افزایش بهروری آموزشی</h3>
                                        <h4>رشد آموزشی با یکپارچگی قابل توجه</h4>
                                    </div>
                                </div>
                            </li>
                            <!-- End: Banner Slide 01 -->
                            <!-- Start: Banner Slide 02 -->
                            @*<li>
                                    <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/banner-2.png">
                                    <div class="caption">
                                        <div class="container">
                                            <h3>  نتیجه یک کار تیمی  </h3>
                                            <h4>   با ساعت ها تلاش و طراحی </h4>
                                        </div>
                                    </div>
                                </li>*@
                            <!-- End: Banner Slide 02 -->
                            <!-- Start: Banner Slide 03 -->
                            <li>
                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/banner-3.png">
                                <div class="caption">
                                    <div class="container">
                                        <h3>  فضای ایجاد خلاقیت </h3>
                                        <h4>  در کارگیری ایده های نو</h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner4.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3>  جذب توجه حداکثری </h3>
                                        <h4>  با ارائه روش های نوین </h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner5.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3> تسهیل  دسترسی در آموزش  </h3>
                                        <h4>  با استفاده از بسترهای آنلاین آموزشی </h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner6.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3> سهولت استفاده  </h3>
                                        <h4>  تنها با یک کلیک در کلاس باشید </h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner7.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3> حذف محدودیت ها  </h3>
                                        <h4>  حذف محدودیت های  زمانی و مکانی در یادگیری  </h4>
                                    </div>
                                </div>
                            </li>

                            <li>

                                <img src="~/img/banner11.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3> انتقال انواع محتوا  </h3>
                                        <h4> ارتقا آموزشی با کمک متحوای گوناگون   </h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner9.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3> مدیریت کاربردی   </h3>
                                        <h4> مدیریت نوین افراد در سیستم های آموزش آنلاین   </h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner10.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3> مسیر جایگزین   </h3>
                                        <h4> حذف صدمات  ناشی از غیبت دانش آموزان   </h4>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <img src="~/img/banner12.png" />
                                <div class="caption">
                                    <div class="container">
                                        <h3>ارتباط آنی    </h3>
                                        <h4> ارتباط دو سویه هم زمان با آموزگار   </h4>
                                    </div>
                                </div>
                            </li>

                            <!-- End: Banner Slide 03 -->
                        </ul>
                    </div>


                </div>
                <!-- End:Slider area -->
            </div>
        </div>
    </section>
    <!-- =================================================
    Banner Area End -->
    <!-- About Content Area  Start
    ====================================================== -->
    <section class="about-text-outer-area" id="about" style="direction:ltr">
        <!-- Start:About Awesome content area-->
        <div class="container">
            <div class="content-area">
                <!-- Start:Right area-->
                <div class="left-side col-md-6">
                    <div class="img-holder">
                        <img style="max-height:400px" src="https://responsiveexpert.com/themes/markroz/html/img/software.png" alt="">
                    </div>
                </div>
                <!-- End:Right area-->
                <!-- Start:Left area-->
                <div class="right-side col-md-6">
                    <div class="main-title right-align">
                        <h5><span> آموزش از راه دور تخصص ماست </span></h5>

                    </div>
                    <div class="text-box" style="text-align:right">
                        <p>سامکلس با بیش از یک دهه فعالیت در زمینه استریم آنلاین یکی از اصلی ترین اهداف خود را ارائه خدمات در حوزه آموزش میداند</p>
                        <h5 style="margin:25px 0">کارآمدرین سیستم آموزشی را از ما بخواهید</h5>
                        <p>سیستم های آموزشی سامکلس با بهره گیری از تجارب متنوع در حوزه استریم آنلاین با حذف ایرادات و محدودیت های موجود توانسته است خلا قابل توجه حاضر در سیستم آموزشی را مرتفع سازد  </p>
                        <p>ایجاد فضای آموزشی در بستر های خصوصی کاربران و عدم وابستگی مراکز یک از مهمترین دست آوردهای سامکلس به شمار میرود</p>
                        <p>ساده سازی فرآیند آموزش آنلاین برای مدرسین و واوطلبان میتواند تاثیر قابل توجهی بر رشد آموزش آنلاین داشته باشد. براین اساس سامکلس با ایجاد سهولت قابل توجه در کاربری سیستم آموزشی خود لحظات خوشایندی را برای کاربران ایجاد مینماید </p>
                    </div>
                </div>
                <!-- End:Left area-->


            </div>
        </div>
        <!-- End:Awesome Structure content area-->
    </section>
    <!-- =================================================
    About Content Area  End -->
    <!-- Key Skills Area  Start
    ====================================================== -->
    @*<section class="key-skills-outer-area light-grey">
            <div class="container">
                <div class="content-area">

                    <!-- Start:Right area-->
                    <div class="right-side col-md-6">
                        <div class="main-title left-align">
                            <h5><span>You can see our</span></h5>
                            <h1>Key Skills</h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <!-- Start:Progress Bar Items-->
                        <div class="text-box progress-bar-outer">
                            <!-- Start: Skill 01-->
                            <p>Design</p>
                            <div class="progress progress-success">
                                <div class="bar" style="float: left; width: 0%; " data-percentage="80"></div>
                            </div>
                            <!-- End: Skill 01 -->
                            <!-- Start: Skill 02-->
                            <p>HTML5 / CSS3</p>
                            <div class="progress progress-success">
                                <div class="bar" style="float: left; width: 0%; " data-percentage="90"></div>
                            </div>
                            <!-- End: Skill 02 -->
                            <!-- Start: Skill 03-->
                            <p>PHP Development</p>
                            <div class="progress progress-success">
                                <div class="bar" style="float: left; width: 0%; " data-percentage="70"></div>
                            </div>
                            <!-- End: Skill 03 -->
                            <!-- Start: Skill 04-->
                            <p>Customer Support</p>
                            <div class="progress progress-success">
                                <div class="bar" style="float: left; width: 0%; " data-percentage="75"></div>
                            </div>
                            <!-- End: Skill 04 -->

                        </div>
                        <!-- End:Progress Bar Items-->
                    </div>
                    <!-- End:Right area-->
                    <!-- Start:Left area-->
                    <div class="left-side col-md-6">
                        <div class="img-holder">
                            <img src="https://responsiveexpert.com/themes/markroz/html/img/key-skills.png" alt="">
                        </div>
                    </div>
                    <!-- End:Left area-->

                </div>
            </div>
        </section>*@
    <!-- =================================================
    Key Skills Area  End -->
    <!-- Services sec Start
    ====================================================== -->
    <section class="services-outer-area" id="services">
        <!-- Start:Services area-->
        <div class="container">
            <div class="home-feature-content content-area">
                <div class="main-title">
                    <h5>ویژگی های قابل توجه سیستم آموزش سامکلس</h5>

                </div>
                <div class="features-contents ">
                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-object-ungroup" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>واسط کاربری بسیار ساده</h5>
                                <p>   محیط کاربری کلاس های آنلاین سام کلس برای استفاده عموم دانش آموزان و دانشجویان طراحی شده است </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>همزمانی کلاس  ها  </h5>
                                <p> بستر آموزش آنلاین سامکلس میتواند برگزاری همزمان کلاس های مختلف با کاربران مختلف را برای مرکز فراهم کند</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-object-group" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>عدم نیاز به نصب برنامه</h5>
                                <p> بستر آموزش سامکلس نیاز به نصب هیچ برنامه ای جهت اجرا نداشته و سهولت قابل توجهی در استفاده حاصل می نماید</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>ارتباط همزمان</h5>
                                <p>بستر آموزش آنلاین سامکلس بواسطه روش انتقال داده، ارتباط آنی و بدون تاخیر بین استاد و کاربر را فراهم میکند  </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-link" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>عدم نیاز به مدیا سرور</h5>
                                <p>در کلاس های آنلاین سامکلس رابطه بین افراد بصورت اختصاصی ایجاد میشود و نیازی به هزینه های مرتبط با سرور نیست </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5> بستر خصوصی مراکز</h5>
                                <p> کلاس های آنلاین سامکلس میتواند به صورت اختصاصی در وبسایت های مراکز ایجاد شود</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-building" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>اجرای غیر متمرکز</h5>
                                <p>سیستم آموزش آنلاین سامکلس دارای پنل اجرای غیر متمرکز جهت سهولت در استفاده استادان می باشد</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>امکان چت آنلاین</h5>
                                <p>بستر آموزش آنلاین سامکلس دارای امکان چت خصوصی با استاد، و چت عمومی کاربران می باشد</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-file-video-o" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>عدم محدودیت استریم</h5>
                                <p>عدم محدودیت در دریافت ارتباطات آنلاین کاربران در تصویر و اسکرین صفحه، در صورت تمایل کاربران و درخواست استاد </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-film" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>انتقال آسان ارتباطات</h5>
                                <p> در  آموزش آنلاین سامکلس استاد میتواند  تمامی ارتباطات آنلاین دریافتی کاربران را به سادگی به دیگر کاربران منتقل نماید </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>درخواست نوع ارتباط</h5>
                                <p> استاد میتواند نوع استریم مورد نیاز خود از اسکرین یا وب کم کاربر را به سیستم اطلاع دهد</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                            <div class="features-text">
                                <h5>انتقال فایل</h5>
                                <p>در سیستیم سامکلس انتقال فایل بین استاد و کاربران و بالعکس تعبیه شده است</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- End:Services area -->
    </section>
    <!-- =================================================
    Services sec End -->
    @*<!-- Home Fun Fact Area Start
        ====================================================== -->
        <section class="home-fun-fact-area">
            <div class="container">
                <div class="fun-fact-sec">
                    <!-- Start:Fun Fact Items -->
                    <ul class="fun-fact-items">
                        <!-- Start:Fun Fact 01 -->
                        <li>
                            <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>520</h3>
                                <p>Happy Clients</p>
                            </div>
                        </li>
                        <!-- End:Fun Fact 01 -->
                        <!-- Start:Fun Fact 02 -->
                        <li>
                            <div class="icon"><i class="fa fa-child" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>722</h3>
                                <p>Project complete</p>
                            </div>
                        </li>
                        <!-- End:Fun Fact 02 -->
                        <!-- Start:Fun Fact 03 -->
                        <li>
                            <div class="icon"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>1082</h3>
                                <p>Likes</p>
                            </div>
                        </li>
                        <!-- End:Fun Fact 03 -->
                        <!-- Start:Fun Fact 04 -->
                        <li>
                            <div class="icon"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>942</h3>
                                <p>Followers</p>
                            </div>
                        </li>
                        <!-- End:Fun Fact 04 -->
                    </ul>
                    <!-- End:Fun Fact Items -->
                </div>
            </div>
        </section>
        <!-- =================================================
        Home Fun Fact Area End -->
        <!-- Portfolio Start
        ====================================================== -->
        <section class="portfolio-outer-area" id="portfolio">
            <!-- Start:Portfolio area-->
            <div class="content-area">
                <div class="portfolio-area-sec">
                    <div class="container">
                        <div class="main-title">
                            <h5>Our key of face is</h5>
                            <h3>Our Portfolio</h3>
                        </div>
                    </div>

                    <!-- Start: Portfolio items Area-->
                    <div class="portfolio-item-sec">
                        <div class="portfolio-items">
                            <div class="container">
                                <ul class="simplefilter">
                                    <li class="active" data-filter="all">Show All</li>
                                    <li data-filter="1">Ad</li>
                                    <li data-filter="2">Web</li>
                                    <li data-filter="3">Design</li>
                                    <li data-filter="4">Mockup</li>
                                </ul>
                                <div class="filtr-container">
                                    <!-- Start: Portfolio-item 01 -->
                                    <div class="col-md-4 filtr-item" data-category="1, 4" data-sort="Busy streets">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-1.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-1.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 01 -->
                                    <!-- Start: Portfolio-item 02 -->
                                    <div class="col-md-4 filtr-item" data-category="2, 3" data-sort="Luminous night">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-2.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-2.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 02 -->
                                    <!-- Start: Portfolio-item 03 -->
                                    <div class="col-md-4 filtr-item" data-category="1, 4" data-sort="Web Design, Mobile App">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-3.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-3.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 03 -->
                                    <!-- Start: Portfolio-item 04 -->
                                    <div class="col-md-4 filtr-item" data-category="2" data-sort="Wordpress">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-4.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-4.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 04 -->
                                    <!-- Start: Portfolio-item 05 -->
                                    <div class="col-md-4 filtr-item" data-category="3" data-sort="Illustrations">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-5.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-5.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 05 -->
                                    <!-- Start: Portfolio-item 06 -->
                                    <div class="col-md-4 filtr-item" data-category="3, 4" data-sort="Illustrations, Mobile App">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-6.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-6.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 06 -->
                                    <!-- Start: Portfolio-item 07 -->
                                    <div class="col-md-4 filtr-item" data-category="3, 4" data-sort="Illustrations, Mobile App">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-7.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-7.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 07 -->
                                    <!-- Start: Portfolio-item 08 -->
                                    <div class="col-md-4  filtr-item" data-category="1, 4" data-sort="Web Design, Mobile App">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-8.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-8.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 08 -->
                                    <!-- Start: Portfolio-item 09 -->
                                    <div class="col-md-4 filtr-item" data-category="2, 4" data-sort="Wordpress, Mobile App">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-9.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-9.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Portfolio-item 09 -->
                                    <!-- Start: Portfolio-item 10 -->
                                    <div class="col-md-4 filtr-item" data-category="3, 1" data-sort="Illustrations, Web Design">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-10.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-10.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Start: Portfolio-item 10 -->
                                    <!-- Start: Portfolio-item 11 -->
                                    <div class="col-md-4 filtr-item" data-category="4, 2" data-sort="Mobile App, Wordpress">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-11.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-11.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Start: Portfolio-item 11 -->
                                    <!-- Start: Portfolio-item 12 -->
                                    <div class="col-md-4 filtr-item" data-category="3" data-sort="Illustrations">
                                        <div class="img-content-box">
                                            <div class="thumbnail-holder">
                                                <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/portfolio-12.jpg">
                                                <div class="mask">
                                                    <div class="text-content">
                                                        <a href="https://responsiveexpert.com/themes/markroz/html/img/portfolio-12.jpg" class="ovelay-icon" data-featherlight="image"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                        <a href="#" class="ovelay-icon"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Start: Portfolio-item 12 -->
                                </div>
                                <a class="button-medium" href="#">Load more</a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio items Area-->

                </div>
            </div>
            <!-- End:Portfolio area -->
        </section>
        <!-- =================================================
        Portfolio End -->
        <!-- Our Team Area Start
        ====================================================== -->
        <section class="our-team-area-outer light-grey" id="our-team">
            <div class="container">
                <div class="content-area">
                    <div class="main-title">
                        <h5><span>Meet our super heroes</span></h5>
                        <h3>We are awesome</h3>
                    </div>
                    <!-- Start: Our Team -->
                    <div class="our-team-detail-sec">
                        <!-- Start: Member-1 -->
                        <div class="col-md-4">
                            <div class="team-member">
                                <div class="team-member-box">
                                    <div class="image-holder">
                                        <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/member-1.jpg">
                                    </div>
                                    <div class="text-box">
                                        <h6>CEO & Founder</h6>
                                        <h5>John Markroz</h5>
                                        <hr>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>
                                        <ul class="social-icon-sec">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End: Member-1 -->
                        <!-- Start: Member-2 -->
                        <div class="col-md-4">
                            <div class="team-member">
                                <div class="team-member-box">
                                    <div class="image-holder">
                                        <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/member-2.jpg">
                                    </div>
                                    <div class="text-box">
                                        <h6>UI / UX Developer</h6>
                                        <h5>Mark Sancher</h5>
                                        <hr>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>
                                        <ul class="social-icon-sec">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End: Member-2 -->
                        <!-- Start: Member-3 -->
                        <div class="col-md-4">
                            <div class="team-member">
                                <div class="team-member-box">
                                    <div class="image-holder">
                                        <img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/member-3.jpg">
                                    </div>
                                    <div class="text-box">
                                        <h6>Designer</h6>
                                        <h5>Maria Sinan</h5>
                                        <hr>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. </p>
                                        <ul class="social-icon-sec">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End: Member-3 -->

                    </div>
                    <!-- End: Our Team -->
                </div>
            </div>
        </section>
        <!-- =================================================
        Our Team Area End -->
        <!-- Home Blog Area  Start
        ====================================================== -->
        <section class="home-blog-area" id="blog">
            <div class="container">
                <div class="home-blog-sec">
                    <div class="content-area">
                        <div class="main-title">
                            <h5>Some of our</h5>
                            <h3>Latest Blog Posts</h3>
                        </div>
                        <!-- Start:Home Blog items-->
                        <div class="home-blog-items-sec">
                            <!-- Start:Blog item 1-->
                            <div class="col-md-4">
                                <div class="item-box">
                                    <div class=" img-holder">
                                        <a data-featherlight="image" href="https://responsiveexpert.com/themes/markroz/html/img/home-blog-1.jpg"><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/home-blog-1.jpg"></a>
                                    </div>
                                    <div class="info-text-holder">
                                        <h6><a href="single-article.html">How we can find a good and perfect job ?</a></h6>
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium emque
                                            laudantium, totam rem aperiam.
                                        </p>
                                        <a class="button-medium" href="single-article.html">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End:Blog item 1-->
                            <!-- Start:Blog item 2-->
                            <div class="col-md-4">
                                <div class="item-box">
                                    <div class=" img-holder">
                                        <a data-featherlight="image" href="https://responsiveexpert.com/themes/markroz/html/img/home-blog-2.jpg"><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/home-blog-2.jpg"></a>
                                    </div>
                                    <div class="info-text-holder">
                                        <h6><a href="single-article.html">A dream job can secure your life for ever...!</a></h6>
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium emque
                                            laudantium, totam rem aperiam.
                                        </p>
                                        <a class="button-medium" href="single-article.html">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End:Blog item 2-->
                            <!-- Start:Blog item 3-->
                            <div class="col-md-4">
                                <div class="item-box">
                                    <div class=" img-holder">
                                        <a data-featherlight="image" href="https://responsiveexpert.com/themes/markroz/html/img/home-blog-3.jpg"><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/home-blog-3.jpg"></a>
                                    </div>
                                    <div class="info-text-holder">
                                        <h6><a href="single-article.html">A job that is the perfect key to your life.</a></h6>
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium emque
                                            laudantium, totam rem aperiam.
                                        </p>
                                        <a class="button-medium" href="single-article.html">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End:Blog item 3-->

                        </div>
                        <!-- End:Home Blog items-->

                        <div class="main-feature-contents-btn-area clearfix">
                            <a class="button-large home" href="blog.html">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =================================================
        Home Blog Area  End -->*@


    <!-- Content Area Start
    ====================================================== -->
    <section class="contact-area-outer  light-grey" id="contact-us">
        <div class="contact-form-sec ">
            <!-- Start: Form Area -->
            <div class="container">
                <div class="content-area clearfix">
                    <div class="main-title">

                        <h4>سوالی دارید،از ما بپرسید با شما در تماس خواهیم بود</h4>
                    </div>
                    <div class="form-sec">
                        <form name="contact" method="post">
                            <div class="col-md-4">
                                <input type="text" id="contact-name" placeholder="نام شما" class="text-field-box lighter">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="contact-email" placeholder="ایمیل شما" class="text-field-box lighter">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="contact-number" placeholder="تلفن شما" class="text-field-box lighter">
                            </div>
                            <div class="col-md-12">
                                <textarea id="contact-msg" class="text-field-box lighter" placeholder="پیام شما"></textarea>
                                <button name="contact" type="submit" id="contact-submit" class="button-medium">ثبت </button>
                            </div>
                            <div class="error-item">
                                <div id="contact-loading" style="display: none;"> درحال ارسال ایمیل  </div>
                                <div id="contact-success" style="display: none;">
                                    پیام شما با موفقیت ثبت شد، با شما در تماس خواهیم بود.
                                </div>
                                <div id="contact-failed" style="display: none;">
                                    خطا...! لطفاً مجددا تلاش کنید
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- End: Form Area -->
        </div>


        <!-- Start:Contact Details Area -->
        <div class="contact-sec-contents">
            <div class="container">
                <div class="contact-info">
                    <!-- Start:Phone Number -->
                    <div class="col-md-4" style="float:right">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-building"></i></div>
                            <div class="features-text">
                                <h6>آدرس</h6>
                                <p>
                                    <strong>دفتر :</strong>  لویزان، برج سروش، واحد 135
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End:Phone Number -->
                    <!-- Start:Address -->
                    <div class="col-md-4" style="float:right">
                        <div class="features-box">
                            <div class="features-icon"><i class="fa fa-phone"></i></div>
                            <div class="features-text">
                                <h6>تلفن و فکس</h6>
                                <p><strong>تلفن :</strong> (021) 22931806</p>
                                <p><strong>فکس :</strong> (021) 22931806</p>
                            </div>
                        </div>
                    </div>
                    <!-- End:Address -->
                    <!-- Start:Email -->
                    <div class="col-md-4" style="float:right">
                        <div class="features-box">
                            <div class="features-icon"> <i class="fa fa-envelope"></i></div>
                            <div class="features-text">
                                <h6>آدرس ایمیل</h6>
                                <p>
                                    <strong>ایمیل :</strong> info@samclass.ir,
                                    office@samclass.ir
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End:Email -->
                </div>
            </div>
        </div>
        <!-- End:Contact Details Area -->
        <!-- Start:Map Area -->
        <div class="map-area">
            <div id="map"></div>
        </div>
        <!-- End:Map Area -->
    </section>
    =================================================
   <!-- Content Area End -->
    <!-- Home Client Area  Start
    ====================================================== -->
    @*<section class="home-client-area" id="client">
        <div class="our-client-sec light-grey">
            <!-- Start:Clients List -->
            <h3></h3>
            <ul class="client-list-box">
                <li><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/client-1.png"></li>
                <li><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/client-2.png"></li>
                <li><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/client-3.png"></li>
                <li><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/client-4.png"></li>
                <li><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/client-5.png"></li>
                <li><img alt="" src="https://responsiveexpert.com/themes/markroz/html/img/client-6.png"></li>
            </ul>
            <!-- End:Clients List -->
        </div>
    </section>*@
    <!-- Home Client Area  End
   
    <!-- Footer Area Start
   
    @*<footer class="footer-area">
        <div class="upper-area">
            <div class="container">
                <!-- Start:About Info -->
                <div class="col-md-3">
                    <div class="about-info">
                        <h5>About Us</h5>
                        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. sed do .</p>
                        <ul class="social-media-icon-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End:About Info -->
                <!-- Start:Useful Links -->
                <div class="col-md-3">
                    <div class="useful-link-sec">
                        <h5>Useful Links</h5>
                        <ul class="useful-links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Service</a></li>
                            <li><a href="potfolio.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="typography.html">Paragraph</a></li>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                            <li><a href="shortcodes.html">Shortcodes</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End:Useful Links -->
                <!-- Start:Newsletter -->
                <div class="col-md-3">
                    <div class="news-letter-sec">
                        <h5>Newsletter</h5>
                        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <form>
                            <input placeholder="Enter Your Email" class="mail-btn">
                            <button class="send-btn">SEnd</button>
                        </form>
                    </div>
                </div>
                <!-- End:Newsletter -->
                <!-- Start:Address -->
                <div class="col-md-3">
                    <div class="address-sec">
                        <h5>Contact</h5>
                        <ul>
                            <li>Office: 12345 Little Lonsdale St, Melbourne </li>
                            <li>Phone: (123) 123-456</li>
                            <li>Fax: (123) 123-456</li>
                            <li>E-Mail: johndoe@site.com</li>
                            <li>Web: www.website.com</li>
                        </ul>
                    </div>
                </div>
                <!-- End:Address -->

            </div>
        </div>
        <!-- Start:copyright -->
        <div class="bottom-area">
            <div class="container">
                <div class="copyright">
                    <p>© Copyright 2016 markroz <span>  | </span>  All Rights Reserved</p>
                    <a id="scroll-top-div" href="#"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- End:copyright -->
    </footer>*@
    <!-- =================================================
    Footer Area End -->


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/owl.carousel.js"></script>
    <!-- Owl Carousel Js
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/owl-carousel-settings.js"></script><!-- Owl Carousel Settings Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/jquery.flexslider.js"></script><!-- Flexslider Settings Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/mini-grid.js"></script><!-- Mini Master Grid Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/settings.js"></script><!-- Settings Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/bootstrap.js"></script><!-- Bootstrap Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/featherlight.min.js"></script><!-- Feather-Lightbox (projects) Js -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script><!-- Map Js-->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/map-settings.js"></script><!-- Map Settings Js -->*@
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/forms.js"></script><!-- Form Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/animation.js"></script><!-- Animation Js -->
    <script type="text/javascript" src="https://responsiveexpert.com/themes/markroz/html/js/jquery.filterizr.js"></script><!-- Filter Gallery Js -->
    <script type="text/javascript">
        $(function () {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>

</body>
</html>
