.mineholderAfter {
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20000;
    width:200px
}

.mineholder {
    padding:10px;
    float: right;
    position: relative;
    margin: 0 auto;
    z-index: 20000;
    display: inline-block;
    width: 50%;
}

.mineholderScreen {
    padding: 10px;
    float: left;
    position: relative;
    margin: 0 auto;
    z-index: 20000;
    display: inline-block;
    width: 50%;
}
.mineholderScreenAfter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
    width: 200px
}